body{
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 81%;
  background-position-x: 93%;
}


img{
  height: 450px;
  width: 300px;
}

.container{
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 70%;
  background-color: white;

}

article{
  display: flex;
  /*width: 50%;*/
}

.inactive{
  display: none;
}

button{
  background-color: none;
}
